<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
	<link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
</head>
<body>
	<section class="page-header">
		<h1>MengHua Sun</h1>
		<p>
			<a class="contact-tag" href="https://github.com/mhsun1992" target="_blank">GitHub</a>
		</p>
	</section>

    {{ content }}	

    <footer class="site-footer" style="text-align; center;">
		<span class="site-footer-owner">© 1992 mhsun1992</span>
	</footer>

</body>
</html>

